name: origin_master_2025_flutter
description: "A new Flutter project."
version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  fl_chart: ^0.69.0
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.3+1
  heart_bpm: ^2.0.0+0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
